<!-- ELIMINATORIA DIRECTA -->
<div class="row centrar mt-2">

    <!-- Octavos -->
    <div class="card card-grupos m-4" style="width: 25rem; height: 3.5rem;" *ngFor="let item of [1,1,1,1,1,1,1,1]">
        <div class="card-body">
  
            <div class="row">
                <!-- Primer Equipo -->
                <div class="col-4" style="cursor: pointer;">
                    <div class="vertical">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_758508-MLA41881275468_052020-O.jpg" class="img-bandera">
                        <p class="ms-4"> Qatar </p>
                    </div>
                </div>
                <!-- Versus -->
                <div class="col-4">
                    <p class="text-center"> Vs </p>
                </div>
                <!-- Segundo Equipo -->
                <div class="col-4" style="cursor: pointer;">
                    <div class="vertical">
                        <p class="me-4"> Qatar </p>
                        <img src="https://http2.mlstatic.com/D_NQ_NP_758508-MLA41881275468_052020-O.jpg" class="img-bandera">
                    </div>
                </div>
            </div>
  
        </div>
    </div>
</div>
